/* Modified version without rainbow volume slider

   Thanks to Netox005 for finding a better way to do this!

   Things borrowed;
   > This pen: http://codepen.io/dats-wassup/pen/EVzRvv?editors=110
*/

/* Animation stuff */
  /* Types */
  /* ! Match "to" BG position first value with
       BG size in "Animation size and type" */
@keyframes rainbow{
  from{
    background-position: 0px 0px
  }
  to{
    background-position: 800px 0px
  }
}
  /* Constants */
#player-controller .infoContainerInner:after,
#player-controller .progressBg,
.playerPreview .loaded,
.playerPreview .progress{
  /* ! Duration for speed; Lower is faster */
  animation-duration: 25s !Important;
  animation-timing-function: linear !important;   /* <--+++++++++++++++++++++++++++ */
  animation-iteration-count: infinite !important; /* <--+                         + */
  background-repeat: repeat-x !Important;         /* <--+ Don't touch any of this + */
  background-attachment: fixed !Important;        /* <--+                         + */
  background-color: transparent !Important;       /* <--+++++++++++++++++++++++++++ */
}

/* Colours */
  /* Footer overlay */
#player-controller .infoContainerInner:after {
  z-index: 0; /* ! Don't touch this, explained at bottom */
  width: 100%;        /* <--+++++++++++++++++++++++++++++++++++++++++++++ */
  height: 5px;        /* <--+                                           + */
  content: '';        /* <--+   Don't touch any of this; These define   + */
  position: absolute; /* <--+ pseudochild size, position and visibility + */
  bottom: 0;          /* <--+                                           + */
  left: 0px;          /* <--+++++++++++++++++++++++++++++++++++++++++++++ */
}
  /* Volume slider */
.ui-slider-handle{
  background-color: #fff !Important;
}
  /* Rainbow gradients */
    /* Bright */
#player-controller .progressBg,
.playerPreview .progress{
  background-image: linear-gradient(to left,
                                    rgb(255, 230, 240) 0%,
                                    rgb(255, 204, 224) 8.34%,
                                    rgb(255, 179, 209) 16.67%,
                                    rgb(195, 61, 128) 25%,
                                    rgb(255, 153, 194) 33.34%,
                                    rgb(255, 128, 179) 41.67%,
                                    rgb(255, 102, 163) 50%,
                                    rgb(255, 77, 148) 58.33%,
                                    rgb(255, 51, 133) 66.67%,
                                    rgb(255, 26, 117) 75%,
                                    rgb(230, 0, 92) 83.33%,
                                    rgb(204, 0, 82) 91.67%,
                                    rgb(179, 0, 71) 100%) !Important;
}
    /* Dark */
#player-controller .infoContainerInner:after,
.playerPreview .loaded{
  background-image: linear-gradient(to left,
                                    rgb(179, 77, 117) 0%,
                                    rgb(185, 70, 116) 8.34%,
                                    rgb(191, 64, 115) 16.67%,
                                    rgb(198, 57, 113) 25%,
                                    rgb(204, 51, 112) 33.34%,
                                    rgb(210, 45, 111) 41.67%,
                                    rgb(217, 38, 110) 50%,
                                    rgb(223, 32, 108) 58.33%,
                                    rgb(230, 25, 107) 66.67%,
                                    rgb(236, 19, 106) 75%,
                                    rgb(242, 13, 105) 83.33%,
                                    rgb(249, 6, 103) 91.67%,
                                    rgb(255, 0, 102) 100%) !Important;
}

/* Animation size and type */
  /* Progress bars */
#player-controller .left,
#player-controller .infoContainerInner:after,
#player-controller .progressBg,
.playerPreview .loaded,
.playerPreview .progress{
  background-size: 800px 100% !Important;
  animation-name: rainbow !Important;
}

/* Opacity for player preview */
.playerPreview .loaded{
  opacity: 1 !Important;
}

/* ! Don't touch this; it places footer content
     above the "Footer overlay" pseudochild */
#player-controller *{
  z-index: 1 !Important;
}
