/*MINOR CHANGES TO SOME PARTS OF DUBTRACK(MOSTLY GRAY TO BLACK/TRANSPARENCY CHANGES*/
#private-messages .main-message-list {
  background  rgba(0, 0, 0, 0.98)  !important;
}
#private-messages .main-message-list ul.message-list li.message-item .message-content p {
  color: #ffffff  !important;
}
#private-messages .message-details ul.message-list li.message-item .message-content p {
 color: #c9c9ca  !important;
}
#private-messages .message-details ul.message-list li.message-item {
 border-bottom: 1px solid #bfbfbf  !important;
}
#private-messages .message-details .input-container {
 border-top: 1px solid #fff  !important;
 background: rgba(0, 0, 0, 0.98)  !important;
}
#private-messages .main-message-list .message-header {
 background: rgba(0, 0, 0, 0.98)  !important;
 border-bottom: 1px solid #fff  !important;
}
#private-messages .main-message-list input {
  border: 1px solid #736e6e  !important;
  background: #232323  !important;
}
#private-messages .main-message-list ul.message-list li.message-item .message-time {
  color: #a9a9a9  !important;
}
#private-messages .message-details ul.message-list li.message-item .message-time {
  color: #a9a9a9  !important;
}
#private-messages .loading {
  background: #000  !important; 
}
#private-messages .main-message-list .message-header, #private-messages .message-details .message-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5em 1em;
    border-bottom: 1px solid #f00;
    background: #ff0000;
    z-index: 15;
}
