@import url("https://dorkix.github.io/skynet.css");
/* Main Menu (left) */
#main-menu-left a.room-active-link {
	color: #ff1a75;
    box-shadow: inset 4px 0px 0px 0px #ff1a75
}

#header-global .header-left-navigation:after {
	color: #ff1a75 !important;
}
/* Main Menu (right) */
#header-global .header-right-navigation .user-info span {
	color: #ff1a75;
}

/* Top Header */
#header-global .header-left-navigation a {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 12px 0 0;
    margin: 0 .75rem 0 0;
    color: #FFFFFF;
}
.icon-chevron:before {
    content: "\e800";
    color: #FF1A75;
}
a, a:active, a:focus, a:hover,
#header-global .header-left-navigation a.room-active-link.active-room .icon-chevron, #header-global .header-left-navigation a.room-active-link.active-room .icon-chevron:hover {
	color: #FFFFFF;
}
#header-global {
    position: fixed;
    padding: 12.8px 16px;
    padding: .8rem 1rem;
    top: 0;
    z-index: 7;
    left: 0;
    width: 100%;
    background: rgba(5,5,5,5.99);
    zoom: 1;
}
#browser .browser-content .browser-content-header .form .music-type-select {
    position: absolute;
    right: 8px;
    right: .5rem;
    top: 8px;
    top: .5rem;
    width: 96px;
    width: 6rem;
    background: rgb(60, 14, 32);
    padding: 0 0 0 8px;
    padding: 0 0 0 .5rem;
    z-index: 8;
    height: 40px;
    height: 2.5rem;
}
#browser .browser-content .browser-content-header .form .music-type-select .music-type-dropdown span {
    border-top: 1px solid rgb(0, 0, 0);
    margin-right: 0;
    padding: 8px 0;
    padding: .5rem 0;
    display: block;
}
#browser .browser-content .browser-content-header .form .music-type-select span {
    display: inline-block;
    font-size: 22.4px;
    font-size: 1.4rem;
    cursor: pointer;
    margin-right: 3.2px;
    margin-right: .2rem;
    height: 33.6px;
    height: 2.1rem;
    overflow: hidden;
    padding-top: 6.4px;
    padding-top: .4rem;
    background: rgb(60, 14, 32);
}
#main-loading {
	background: #ff1a75;
}
#header-global .header-right-navigation .user-messages .message-counter {
	background: #ff1a75;
}

/* Private Messages */
#private-messages .main-message-list ul.message-list li.message-item .message-content h3, #private-messages .message-details ul.message-list li.message-item .message-content h3,
#private-messages .main-message-list .message-header a, #private-messages .message-details .message-header a,
#private-messages .message-details ul.message-list li.message-item .message-content h3,
#private-messages .private-message-details-info, #private-messages .private-message-info {
	color: #ff1a75;
}
#private-messages .loading {
	background: #ff1a75;
}
#private-messages .main-message-list ul.message-list li.message-item.new-message:before, #private-messages .message-details ul.message-list li.message-item.new-message:before {
	background: #ff1a75;
}
#private-messages .main-message-list, #private-messages .message-details {
	background: #1A1A1A;
}

/* DubX Menu */
.for_content {
	background: #1A1A1A !important;
}
.for_content_off {
	color: #DDDDDD !important;
}
.for_content_version, .for_content_p {
	color: #ff1a75 !important;
}

/** DubX Feature Menus **/
.onErr .container .control .confirm {
	background: #ff1a75 !important;
}
.for_content_c {
	#color: #ff1a75 !important;
}

/* Bottom Header */
#player-controller .left ul li.infoContainer .infoContainerInner .progressBg {
	background: #ff1a75;
}
a, a:active, a:focus, a:hover, #header-global .header-left-navigation a.room-active-link.active-room .icon-chevron, #header-global .header-left-navigation a.room-active-link.active-room .icon-chevron:hover {
    color: #ffffff;
}
#browser .browser-content .browser-content-main .nano .content-videos .queue_info .right a {
    background: #340618;
    border-right: 1px solid #040404;
}
#player-controller .right ul li .add-to-playlist-button.grabbed .icon-heart:before {
    color: #FF1A75;
}
.icon-playlist:before, .icon-history:before, .icon-heart:before {
	color: #FF1A75;
}
.icon-play:before {
    color: #FF1A75;
}
#player-controller .right ul li .add-to-playlist-button.grabbed span {
    color: #000000;
}
#player-controller .right ul li .add-to-playlist-button.grabbed {
    background: #FFFFFF;
}
#player-controller .right ul li .dubup.voted span {
    color: #000000;
}
#player-controller .right ul li .dubup.voted {
	background: #ff1a75;
}
#player-controller .right ul li .dubup .icon-arrow-up, #player-controller .right ul li .dubup .dub-counter {
	color: #ff1a75;
}
#player-controller .right ul li .dubdown.voted span {
    color: #000000;
}
#player-controller .right ul li .dubdown.voted {
	background: #C42E3B;
}
#player-controller .right ul li .dubdown .icon-arrow-down, #player-controller .right ul li .dubdown .dub-counter {
	color: #C42E3B;
}
#player-controller .left ul li.imgEl, #player-controller .left ul li.infoContainer .infoContainerInner, #player-controller .left, #player-controller .right {
	background: #000000;
}

/* Add to Playlist */
#addToPlaylistFloatContainer .playlist-list-action li:hover {
	color: #ff1a75;
}
#addToPlaylistFloatContainer .create-playlist-input .icon-add {
	background: #ff1a75;
}

/* Lobby */
span.name,
#room-list #container-room-list .room-item .current-song, #room-list #container-room-list .room-item .roomImage .join {
	color: #ff1a75;
    opacity: 0.5;
}
#room-list #container-room-list .room-item .roomImage .join {
	background: #ff1a75;
}
#warning {
	background: #ff1a75;
	opacity: .90;
}

/* Video Player */
#main_player {
	background: rgba(5,5,5,5.99);
    border-radius: 0.4rem;
}
#main_player #custom_iframe_embed_error, #main_player .playbtn-el {
	background: #ff1a75;
}

/* Video Buttons (top) */
#main_player .player_header span.active {
	background: #ff1a75;
	color: #000000;
	font-weight: 600;
}
#main_player .play-song-link-container .play-song-link-browser {
    background: rgb(0, 0, 0);
}
#main_player .play-song-link-container .play-song-link.active-queue-display {
    background: rgb(0, 0, 0);
}
#main_player .play-song-link-container .play-song-link.active-queue-display.leave-button {
    background: rgb(0, 0, 0);
}
#main_player .player_header span {
	background: rgba(60, 57, 57, 0.9);
	font-weight: 500;
	color: #FFF;
}
#main_player .player_header span:hover {
    background: #B91657;
}
#room-info-display .room-info-display-wrapper h2 span i {
	color: #ff1a75;
}
#mods-controllers .mods-controllers-main-wrapper .mod-controllers-headers a.active {
	#color: #42A5DC !important;
}

/* Video Buttons (bottom) */
#main_player .play-song-link {
    background: rgb(0, 0, 0);
	border-radius: 0.4rem;
}
#main_player .player_sharing .player-controller-container .volume-controller-container #volume-div .ui-slider-range-min,
#main_player .play-song-link .queue-info {
	background: #ff1a75;
}
#main_player .player_sharing .player-controller-container span.videoquality-el.active-hd {
    color: #ff1a75;
}
#player-controller .right ul li a.display-browser [class^=queue-] {
    position: relative;
    top: -1.6px;
    top: -.1rem;
    /* border-top: 1px solid #000000; */
    color: #FFFFFF;
}
#player-controller .right ul li .grab-counter {
    margin-left: 8px;
    margin-left: .5rem;
    display: inline-block;
    position: relative;
    top: -1.6px;
    top: -.1rem;
    color: #FFFFFF;
}
/* Chat */
#main-room .right_section, #profileMainSection {
	background: rgba(5,5,5,5.99);
	border-radius: 0.4rem;
}
#chat .chat_tools span:hover {
	color: #ff1a75;
}
#chat .chat_tools span:after {
	border-color: #ff1a75;
}
#chat .pusher-chat-widget-input #new-messages-counter {
   background: #750F37;
   color: #FFFFFF;
   font-size: 1.2rem;
   top: -5px;
   opacity: 1;
}
#chat .chat-container .chat-messages .chat-main li .activity-row .text a.username {
	color: rgb(170, 170, 170);
}
#chat .chat-container ul.chat-main li .activity-row .text span.username-handle {
    color: #ff1a75 !important;
}
#chat .chat-container .chat-messages .chat-main li .activity-row .text .username-handle {
    font-weight: 700;
    /* border-top: 1px solid #000000; */
    color: #ff1a75;
}
#chat .chat-container .chat-messages .chat-main li.chat-system-loading, #chat .chat-container .chat-messages .chat-main li.chat-welcome-message, #chat .chat-container .chat-messages .chat-main li.system, #chat .chat-container .chat-messages .chat-main li.system-error {
	font-size: 14px;
}

#chat .chat-main .isOwner .username,
#chat .chat-main .isOwner .username:hover,
#chat .chat-main .isOwner .username:visited{
    color: #ff1a75;
}

#chat .chat-main .isCo-owner .username,
#chat .chat-main .isCo-owner .username:hover,
#chat .chat-main .isCo-owner .username:visited{
    color: #ff1a75;
}

#chat .chat-main .isManager .username,
#chat .chat-main .isManager .username:hover,
#chat .chat-main .isManager .username:visited{
    color: #ff1a75;
}

#chat .chat-main .isMod .username,
#chat .chat-main .isMod .username:hover,
#chat .chat-main .isMod .username:visited{
    color: #ff1a75;
}

#chat .chat-main .isResident-dj .username,
#chat .chat-main .isResident-dj .username:hover,
#chat .chat-main .isResident-dj .username:visited{
    color: #ff1a75;
}
#chat .chat-main .isVip .username,
#chat .chat-main .isVip .username:hover,
#chat .chat-main .isVip .username:visited{
    color: #ff1a75;
}


/** Admins **/
#chat .chat-container ul.chat-main li.user-52c821781e2b1fd945000001 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8ef6037e22b0200000005 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52d24bff4cf9670200000515 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8efcf37e22b0200000008 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-52c8254ca7b7260200000001 .activity-row .text p a.username {
	color: #42A5DC !important;
}

/* DubX Owners */
#chat .chat-container ul.chat-main li.user-551d295433cd73030089d184 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-53f7c199892b010200a98809 .activity-row .text p a.username {
    color: #89BE6C !important;
    text-shadow: 0px 0px 1px rgba(0,0,0,.5);
}

/** Team **/
#chat .chat-container ul.chat-main li.user-55ff52375335f703008b0d38 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-56030f67813abe030055f4a4 .activity-row .text p a.username,
#chat .chat-container ul.chat-main li.user-56008425621a9e0300317238 .activity-row .text p a.username {
	color: #ff3657 !important;
    text-shadow: 0px 0px 1px rgba(0,0,0,.5);
}
*/

/* User List */

/** Admin **/
#main_avatar_room #main-user-list-room #avatar-list li.admin p.username,
#main_avatar_room #main-user-list-room #avatar-list li.admin p.username:after {
	color: #42A5DC !important;
}

/** Moderators **/
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username,
#main_avatar_room #main-user-list-room #avatar-list li.creator p.username,
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username,
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username,
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username:after {
	color: #ff1a75;
}

/** Current DJ **/
#main_avatar_room #main-user-list-room #avatar-list li.currentDJ p.username,
#main_avatar_room #main-user-list-room #avatar-list li.currentDJ p.username:after {
	color: #ff6600;
}

/** Users **/
#main_avatar_room #main-user-list-room #avatar-list li p {
	color: #AAAAAA;
}

/** Upvote/Downvote **/
ul.avatar-list li.updub {
	background: rgba(144,173,47,0.2);
	padding-left: 5px;
	padding-right: 5px;
}
ul.avatar-list li.downdub {
	background: rgba(196,46,59,0.2);
	padding-left: 5px;
	padding-right: 5px;
}

/** Team **/
ul.avatar-list li.user-kris p.dubs:before,
ul.avatar-list li.user-al3366 p.dubs:before,
ul.avatar-list li.user-ciscog p.dubs:before {
	content: "DubX Team  -  ";
	font-weight: 700 !important;
	color: #ff3657 !important;
}
ul.avatar-list li.co-owner.user-kris:after, ul.avatar-list li.co-owner.user-al3366  :after, ul.avatar-list li.co-owner.user-ciscog:after,
ul.avatar-list li.creator.user-kris:after, ul.avatar-list li.creator.user-al3366  :after, ul.avatar-list li.creator.user-ciscog:after,
ul.avatar-list li.manager.user-kris:after, ul.avatar-list li.manager.user-al3366  :after, ul.avatar-list li.manager.user-ciscog:after,
ul.avatar-list li.mod.user-kris:after, ul.avatar-list li.mod.user-al3366  :after, ul.avatar-list li.mod.user-ciscog:after,
ul.avatar-list li.vip.user-kris:after, ul.avatar-list li.vip.user-al3366  :after, ul.avatar-list li.vip.user-ciscog:after,
ul.avatar-list li.resident-dj.user-kris:after, ul.avatar-list li.resident-dj.user-al3366  :after, ul.avatar-list li.resident-dj.user-ciscog:after,
ul.avatar-list li.currentDJ .user-kris:after, ul.avatar-list li.currentDJ .user-al3366  :after, ul.avatar-list li.currentDJ .user-ciscog:after,
.user-kris, .user-al3366, .user-ciscog,
.user-kris p.username, .user-al3366 p.username, .user-ciscog p.username {
    color: #ff3657 !important;
}
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-kris p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-kris p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-al3366 p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-al3366 p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.co-owner.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.creator.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.creator.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.manager.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.manager.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.mod.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.mod.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.resident-dj.user-ciscog p.username:after,
#main_avatar_room #main-user-list-room #avatar-list li.vip.user-ciscog p.username, #main_avatar_room #main-user-list-room #avatar-list li.vip.user-ciscog p.username:after {
	color: #ff3657 !important;
}

/*PLAYLIST BACKGROUND*/
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-join-info {
    background: #E20C61;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item {
    position:relative;
    display: block;
    padding: 8px 24px 8px 16px;
    padding: .5rem 1.5rem .5rem 1rem;
    cursor: pointer;
    background: rgba(8, 8, 8, 0.02);
    border: 1px solid #1c1c1c;
    border-bottom: 1px solid #2f2f2f;
}   
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item {
    position: relative;
    display: block;
    padding: 8px 24px 8px 16px;
    padding: .5rem 1.5rem .5rem 1rem;
    cursor: pointer;
    background: rgba(8, 8, 8, 0.02);
    border: 1px solid #1c1c1c;
    border-bottom: 1px solid #2f2f2f;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item {
    position: relative;
    display: block;
    padding: 8px 24px 8px 16px;
    padding: .5rem 1.5rem .5rem 1rem;
    cursor: pointer;
    background: rgba(8, 8, 8, 0.02);
    border: 1px solid #1c1c1c;
    border-bottom: 1px solid #2f2f2f;
}
#browser .browser-content .browser-content-main .nano .content-videos {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(5,5,5,0.9);
}
#browser .browser-content .browser-content-main .nano .content-videos .playlist_info .right a {
    float: right;
    padding: 19.2px 16px;
    padding: 1.2rem 1rem;
    color: #FFFFFF;
    border-right: 1px solid #000000;
    background: #3C0E20;
}
#browser .browser-content .browser-content-main .nano .content-videos .playlist_info .right a.text-button {
    padding: .2rem 1rem;
    border: 1px solid #000000;
    margin: .7rem .5rem .7rem 0;
    background: #3C0E20;
}
#browser .browser-content .browser-content-main .nano .content-videos .queue_info .right a.text-button {
    border: 1px solid #000000;
    background: #340618;
}
/* Settings */
#chat .chat-options .chat-option-buttons span.active i, #chat .chat-options .chat-option-buttons span:hover {
	color: #ff1a75;
}

/* Queue */
#browser .browser-content .browser-content-header .close-browser,
#browser .browser-content .browser-content-main .nano .loading,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .display-success,
#browser .browser-content #import-playlist-container .close-import-playlist {
	background: #ff1a75;
}
#browser .browser-content .browser-content-main .sidebar #playlists-scroll .playlist-style li.selected,
#import-playlist-container .import-playlist-youtube span {
	background: #fff;
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .history-item .description .preview,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item .description .preview,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item .description .preview,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .description .dubs-display,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .description .playedby,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .search-item .description .preview,
#browser .browser-content .browser-content-main .sidebar .import-playlist span,
#browser .browser-content .browser-content-main .sidebar .create-playlist .create-playlist-display span,
#browser .browser-content #import-playlist-container .playlist-type-select span:hover {
	color: #ff1a75;
}
/*SIDEBARCHANGES*/
#browser .browser-content .browser-content-main .sidebar {
    background: rgba(5,5,5,0.9);
}
 .browser-content .browser-content-header {
    background: rgba(5,5,5,0.9);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 12;
    padding-right: 64px;
    padding-right: 4rem;
}
#browser .browser-content .browser-content-main .sidebar .import-playlist {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 8px 16px;
    padding: .5rem 1rem;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.04);
    text-align: center;
    color: #fff;
    z-index: 9;
    border-top: 1px solid #000000;
}
#browser .browser-content .browser-content-main .sidebar .create-playlist {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 8px 16px;
    padding: .5rem 1rem;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.04);
    text-align: center;
    color: #fff;
    z-index: 9;
    border-top: 1px solid rgba(142, 10, 83, 0.82);
} 
#browser .browser-content .browser-content-header .form input {
    background: rgba(255,26,117,0.2);
}
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .queue-item.selected,
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .playlist-item.selected {
	border: 1px solid #ff1a75;
}

#browser .browser-content .browser-content-header .form {
    position: relative;
    padding: 8px 105.6px 8px 8px;
    padding: .5rem 6.6rem .5rem .5rem;
    background: rgba(0, 0, 0, 0.2);
}
#browser .browser-content .browser-content-header {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 12;
    padding-right: 64px;
    padding-right: 4rem;
}

/* Preview */
.playerPreview .controlContainer .progressContainer .loaded, .playerPreview .controlContainer .progressContainer .progress,
.playerPreview .ui-slider-range {
	background: #ff1a75;
}
.playerPreview .ui-slider-handle {
	background: #ff1a75;
}

/* Room Info */
#roomInfoModal .modal-header h3, #roomFormUpdate .mid a, #roomInfoModal .mid a {
	color: #ff1a75;
}

/* User */
span.usernameContainer, .followers-counter,
#profileMainSection .profileView .header .pictureContainer .updatePictureGif {
	color: #ff1a75;
}
#profileMainSection .profileView .infoProfile .edit-btn, #profileMainSection .profileView .infoProfile .follow-btn {
	color: #ff1a75;
	border: 2px solid #ff1a75;
}
#profileMainSection .profileView .header .pictureContainer .updatePictureGif {
	width: 101%;
	height 101%;
	background: #ff1a75;
}
#user_popover .actions, #user_popover .global-actions, #user_popover {
	background: #000000;
	opacity: .95;
}
#user_popover .global-actions a, #user_popover .usercontent header .dubs, #user_popover .usercontent header h3 {
	color: #ff1a75;
}
#user_popover .global-actions a {
	outline: 1px solid #393A39;
}
#user_popover .actions a {
	color: #3D3C43;
	outline: 1px solid #3D3C43;
}
#user_popover .actions a input {
	background: rgba(61, 60, 67, 0.69);
}

/* sys message color change */
#chat .chat-container .chat-messages .chat-main li.system-error { text-transform: uppercase; }
#chat .chat-main li[class*='system']{
    color: #ff1a75 !important;
    text-align: center;
    border-top: #ff1a75 1px solid !important;
    border-bottom: #ff1a75 1px solid !important;
}
