
* Main Menu (left) */
#main-menu-left a.room-active-link {
	color: #AA74FE;
    box-shadow: inset 4px 0px 0px 0px #AA74FE
}

#header-global .header-left-navigation:after {
	color: #AA74FE !important;
}
/* Main Menu (right) */
#header-global .header-right-navigation .user-info span {
	color: #AA74FE;
}

/* Top Header */
a, a:active, a:focus, a:hover,
#header-global .header-left-navigation a.room-active-link.active-room .icon-chevron, #header-global .header-left-navigation a.room-active-link.active-room .icon-chevron:hover {
	color: #AA74FE;
}
#main-loading {
	background: #AA74FE;
}
#header-global .header-right-navigation .user-messages .message-counter {
	background: #AA74FE;
}
