#chat .chat-main li.user-569922c7770a0c0e000d797f .image_row {
    opacity: 0 !important;
    top: 7px !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    z-index: 1;
}

#chat .chat-main li.user-569922c7770a0c0e000d797f .activity-row {
    width: 100% !important;
    padding: .5em 0.75em .5em .25em !important;
}

#chat .chat-main li.user-569922c7770a0c0e000d797f .activity-row .text .username {
    opacity: 0 !important;
    position: absolute;
    top: 7px;
    padding-left: 1.5rem;
    width: 85%;
    font-size: .75rem !important;
}

#chat .chat-main li.user-569922c7770a0c0e000d797f .activity-row .text p:first-of-type:before {
    text-transform: uppercase;
    text-shadow: 0 -1px 0 !important;
    font-size: .75em;
    cursor: pointer;
    text-align: initial;
    display: block;
}

#chat .chat-main li.user-569922c7770a0c0e000d797f:hover .activity-row .meta-info::before {
    position: absolute;
    color: #878c8e;
    font-weight: 700;
    font-size: 12px;
    bottom: .2rem;
}

#chat .chat-main li.user-569922c7770a0c0e000d797f .activity-row .meta-info::before { content: "K-POP SQUAD BOT"; }

#chat .chat-main li.user-569922c7770a0c0e000d797f .activity-row .text p:first-of-type:before {
    background: no-repeat left top;
    background-size: contain;
    padding-left: 1.5rem;
}

ul.avatar-list li.user-SunbaeBot p.dubs:before {
    content: "K-POP SQUAD BOT";
    text-shadow: 0 -1px 0 !important;
    color: #f80361 !important;
}


#chat > div.chat-container > div.chat-messages.ps-container ul li.user-569922c7770a0c0e000d797f div.stream-item-content::before {
    transform: scale(.4,.5);
    top: -8px;
    left: -11px;
}


#chat .chat-main li.user-569922c7770a0c0e000d797f .activity-row .text p:first-of-type:before {
    content: "SunbaeBot";
    color: #c3ff00 !important;
    font-size: .75rem;
    padding-left: 0;
}
ul.avatar-list li.user-SunbaeBot p.username { color: #c3ff00 !important; }
ul.avatar-list li.user-SunbaeBot p.dubs:before {
    color: #ff0076 !important;
    content: "Don't mess with me!"
    
}
